name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Remove offending binary files
        # This deletes the images ONLY for this sync so Hugging Face accepts the push
        run: |
          rm -f *.jpg
          rm -f filterproj/*.jpg
          rm -rf filterproj/share/  # Removes extra system files that might cause errors
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://Kartikey1234:$HF_TOKEN@huggingface.co/spaces/Kartikey1234/image-filter-api main
